# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\talha\OneDrive - University of Kwazulu-Natal\COMP314 - TC\Assessments\Assignment 2\COMP314_Assignment_2_2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
